.pure-g [class *= "pure-u"] {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}



.pure-u-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.pure-u-1-12,
.pure-u-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-1-8,
.pure-u-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.pure-u-1-6,
.pure-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.pure-u-1-4,
.pure-u-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.pure-u-1-3,
.pure-u-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-3-8,
.pure-u-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.pure-u-5-12,
.pure-u-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.pure-u-1-2,
.pure-u-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.pure-u-7-12,
.pure-u-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-5-8,
.pure-u-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.pure-u-2-3,
.pure-u-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.pure-u-3-4,
.pure-u-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.pure-u-5-6,
.pure-u-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-7-8,
.pure-u-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.pure-u-11-12,
.pure-u-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-24-24 {
    width: 100%;
}

@media (min-width: 21.875em) {

    .pure-u-v350-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v350-1-12,
    .pure-u-v350-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v350-1-8,
    .pure-u-v350-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v350-1-6,
    .pure-u-v350-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v350-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v350-1-4,
    .pure-u-v350-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v350-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v350-1-3,
    .pure-u-v350-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v350-3-8,
    .pure-u-v350-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v350-5-12,
    .pure-u-v350-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v350-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v350-1-2,
    .pure-u-v350-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v350-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v350-7-12,
    .pure-u-v350-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v350-5-8,
    .pure-u-v350-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v350-2-3,
    .pure-u-v350-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v350-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v350-3-4,
    .pure-u-v350-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v350-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v350-5-6,
    .pure-u-v350-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v350-7-8,
    .pure-u-v350-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v350-11-12,
    .pure-u-v350-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v350-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v350-1-1,
    .pure-u-v350-1,
    .pure-u-v350-24-24 {
        width: 100%;
    }
}

@media (min-width: 31.25em) {

    .pure-u-v500-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v500-1-12,
    .pure-u-v500-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v500-1-8,
    .pure-u-v500-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v500-1-6,
    .pure-u-v500-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v500-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v500-1-4,
    .pure-u-v500-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v500-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v500-1-3,
    .pure-u-v500-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v500-3-8,
    .pure-u-v500-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v500-5-12,
    .pure-u-v500-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v500-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v500-1-2,
    .pure-u-v500-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v500-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v500-7-12,
    .pure-u-v500-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v500-5-8,
    .pure-u-v500-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v500-2-3,
    .pure-u-v500-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v500-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v500-3-4,
    .pure-u-v500-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v500-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v500-5-6,
    .pure-u-v500-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v500-7-8,
    .pure-u-v500-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v500-11-12,
    .pure-u-v500-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v500-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v500-1-1,
    .pure-u-v500-1,
    .pure-u-v500-24-24 {
        width: 100%;
    }
}

@media (min-width: 37.5em) {
  
    .pure-u-v600-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v600-1-12,
    .pure-u-v600-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v600-1-8,
    .pure-u-v600-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v600-1-6,
    .pure-u-v600-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v600-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v600-1-4,
    .pure-u-v600-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v600-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v600-1-3,
    .pure-u-v600-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v600-3-8,
    .pure-u-v600-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v600-5-12,
    .pure-u-v600-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v600-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v600-1-2,
    .pure-u-v600-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v600-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v600-7-12,
    .pure-u-v600-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v600-5-8,
    .pure-u-v600-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v600-2-3,
    .pure-u-v600-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v600-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v600-3-4,
    .pure-u-v600-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v600-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v600-5-6,
    .pure-u-v600-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v600-7-8,
    .pure-u-v600-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v600-11-12,
    .pure-u-v600-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v600-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v600-1-1,
    .pure-u-v600-1,
    .pure-u-v600-24-24 {
        width: 100%;
    }
}

@media (min-width: 43.75em) {

    .pure-u-v700-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v700-1-12,
    .pure-u-v700-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v700-1-8,
    .pure-u-v700-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v700-1-6,
    .pure-u-v700-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v700-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v700-1-4,
    .pure-u-v700-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v700-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v700-1-3,
    .pure-u-v700-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v700-3-8,
    .pure-u-v700-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v700-5-12,
    .pure-u-v700-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v700-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v700-1-2,
    .pure-u-v700-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v700-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v700-7-12,
    .pure-u-v700-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v700-5-8,
    .pure-u-v700-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v700-2-3,
    .pure-u-v700-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v700-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v700-3-4,
    .pure-u-v700-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v700-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v700-5-6,
    .pure-u-v700-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v700-7-8,
    .pure-u-v700-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v700-11-12,
    .pure-u-v700-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v700-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v700-1-1,
    .pure-u-v700-1,
    .pure-u-v700-24-24 {
        width: 100%;
    }
}

@media (min-width: 50em) {
    .pure-u-v800-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v800-1-12,
    .pure-u-v800-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v800-1-8,
    .pure-u-v800-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v800-1-6,
    .pure-u-v800-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v800-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v800-1-4,
    .pure-u-v800-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v800-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v800-1-3,
    .pure-u-v800-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v800-3-8,
    .pure-u-v800-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v800-5-12,
    .pure-u-v800-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v800-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v800-1-2,
    .pure-u-v800-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v800-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v800-7-12,
    .pure-u-v800-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v800-5-8,
    .pure-u-v800-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v800-2-3,
    .pure-u-v800-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v800-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v800-3-4,
    .pure-u-v800-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v800-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v800-5-6,
    .pure-u-v800-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v800-7-8,
    .pure-u-v800-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v800-11-12,
    .pure-u-v800-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v800-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v800-1-1,
    .pure-u-v800-1,
    .pure-u-v800-24-24 {
        width: 100%;
    }
}

@media (min-width: 56.25em) {

    .pure-u-v900-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v900-1-12,
    .pure-u-v900-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v900-1-8,
    .pure-u-v900-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v900-1-6,
    .pure-u-v900-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v900-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v900-1-4,
    .pure-u-v900-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v900-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v900-1-3,
    .pure-u-v900-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v900-3-8,
    .pure-u-v900-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v900-5-12,
    .pure-u-v900-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v900-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v900-1-2,
    .pure-u-v900-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v900-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v900-7-12,
    .pure-u-v900-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v900-5-8,
    .pure-u-v900-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v900-2-3,
    .pure-u-v900-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v900-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v900-3-4,
    .pure-u-v900-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v900-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v900-5-6,
    .pure-u-v900-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v900-7-8,
    .pure-u-v900-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v900-11-12,
    .pure-u-v900-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v900-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v900-1-1,
    .pure-u-v900-1,
    .pure-u-v900-24-24 {
        width: 100%;
    }
}

@media (min-width: 62.5em) {

    .pure-u-v1000-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v1000-1-12,
    .pure-u-v1000-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v1000-1-8,
    .pure-u-v1000-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v1000-1-6,
    .pure-u-v1000-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v1000-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v1000-1-4,
    .pure-u-v1000-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v1000-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v1000-1-3,
    .pure-u-v1000-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v1000-3-8,
    .pure-u-v1000-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v1000-5-12,
    .pure-u-v1000-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v1000-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v1000-1-2,
    .pure-u-v1000-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v1000-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v1000-7-12,
    .pure-u-v1000-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v1000-5-8,
    .pure-u-v1000-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v1000-2-3,
    .pure-u-v1000-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v1000-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v1000-3-4,
    .pure-u-v1000-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v1000-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v1000-5-6,
    .pure-u-v1000-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v1000-7-8,
    .pure-u-v1000-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v1000-11-12,
    .pure-u-v1000-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v1000-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v1000-1-1,
    .pure-u-v1000-1,
    .pure-u-v1000-24-24 {
        width: 100%;
    }
}

@media (min-width: 68.75em) {

    .pure-u-v1100-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v1100-1-12,
    .pure-u-v1100-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v1100-1-8,
    .pure-u-v1100-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v1100-1-6,
    .pure-u-v1100-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v1100-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v1100-1-4,
    .pure-u-v1100-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v1100-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v1100-1-3,
    .pure-u-v1100-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v1100-3-8,
    .pure-u-v1100-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v1100-5-12,
    .pure-u-v1100-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v1100-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v1100-1-2,
    .pure-u-v1100-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v1100-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v1100-7-12,
    .pure-u-v1100-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v1100-5-8,
    .pure-u-v1100-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v1100-2-3,
    .pure-u-v1100-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v1100-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v1100-3-4,
    .pure-u-v1100-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v1100-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v1100-5-6,
    .pure-u-v1100-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v1100-7-8,
    .pure-u-v1100-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v1100-11-12,
    .pure-u-v1100-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v1100-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v1100-1-1,
    .pure-u-v1100-1,
    .pure-u-v1100-24-24 {
        width: 100%;
    }
}

@media (min-width: 78.125em) {
 
    .pure-u-v1250-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v1250-1-12,
    .pure-u-v1250-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v1250-1-8,
    .pure-u-v1250-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v1250-1-6,
    .pure-u-v1250-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v1250-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v1250-1-4,
    .pure-u-v1250-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v1250-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v1250-1-3,
    .pure-u-v1250-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v1250-3-8,
    .pure-u-v1250-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v1250-5-12,
    .pure-u-v1250-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v1250-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v1250-1-2,
    .pure-u-v1250-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v1250-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v1250-7-12,
    .pure-u-v1250-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v1250-5-8,
    .pure-u-v1250-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v1250-2-3,
    .pure-u-v1250-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v1250-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v1250-3-4,
    .pure-u-v1250-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v1250-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v1250-5-6,
    .pure-u-v1250-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v1250-7-8,
    .pure-u-v1250-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v1250-11-12,
    .pure-u-v1250-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v1250-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v1250-1-1,
    .pure-u-v1250-1,
    .pure-u-v1250-24-24 {
        width: 100%;
    }
}

@media (min-width: 87.5em) {


    .pure-u-v1400-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .pure-u-v1400-1-12,
    .pure-u-v1400-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-v1400-1-8,
    .pure-u-v1400-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .pure-u-v1400-1-6,
    .pure-u-v1400-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-v1400-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .pure-u-v1400-1-4,
    .pure-u-v1400-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-v1400-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .pure-u-v1400-1-3,
    .pure-u-v1400-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-v1400-3-8,
    .pure-u-v1400-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .pure-u-v1400-5-12,
    .pure-u-v1400-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-v1400-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .pure-u-v1400-1-2,
    .pure-u-v1400-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-v1400-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .pure-u-v1400-7-12,
    .pure-u-v1400-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-v1400-5-8,
    .pure-u-v1400-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .pure-u-v1400-2-3,
    .pure-u-v1400-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-v1400-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .pure-u-v1400-3-4,
    .pure-u-v1400-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-v1400-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .pure-u-v1400-5-6,
    .pure-u-v1400-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-v1400-7-8,
    .pure-u-v1400-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .pure-u-v1400-11-12,
    .pure-u-v1400-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-v1400-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .pure-u-v1400-1-1,
    .pure-u-v1400-1,
    .pure-u-v1400-24-24 {
        width: 100%;
    }
}