/* `Functions mixins
----------------------------------------------------------------------------------------------------*/

// Change rendering of background color
.BackgroundContentBox() {
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
}

// Set background size 
.BackgroundSize(@a, @b) {
	-webkit-background-size: @a, @b;
	-moz-background-size: @a, @b;
	-o-background-size: @a, @b;
	background-size: @a, @b;
}

// Set border box
.BorderBox(@box: border-box) {
    -webkit-box-sizing: @box;
    -moz-box-sizing: @box;
    box-sizing: @box;
}

// Set box shaddow
.BoxShadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

// Disable text selection
.Cantselect(@none: none) {
    -webkit-touch-callout: @none;
    -webkit-user-select: @none;
    -khtml-user-select: @none;
    -moz-user-select: @none;
    -ms-user-select: @none;
    -o-user-select: @none;
}

// Create multi-column text
// @count - number of columns (default 2)
// @gap - space between columns (default 30px)
.Column(@count: 2, @gap: 30px) {
    -webkit-column-count: @count;
    -moz-column-count: @count;
    column-count: @count;
    -webkit-column-gap: @gap;
    -moz-column-gap: @gap;
    column-gap: @gap;
}

// Create flex box
.Flex() {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;  
}

// Hide text in element (use if you want replace text with image)
.HideText() {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

// Hide text underline on hover - otherwise text is with underline
.HoverNoUnderline() {
    text-decoration: underline;

    &:hover { text-decoration: none; }
}

// Add text underline on hover - otherwise text is without underline
.HoverUnderline() {
    text-decoration: none;

    &:hover { text-decoration: underline; }
}

// Hide text underline for default and even on hover
.NeverUnderline() {
    text-decoration: none;

    &:hover { text-decoration: none; }
}

// Styling placeholder
.Placeholder(@rules) {
    &:-webkit-input-placeholder {
        @rules();
    }
	&::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
	&::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}

// Set border radius
.Radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

// Rotate an element
// Set as number WITHNOUT unit
.Rotate(@value) {
    -webkit-transform: rotate(unit(@value,~'deg'));
    -moz-transform: rotate(unit(@value,~'deg'));
    -ms-transform: rotate(unit(@value,~'deg'));
    -o-transform: rotate(unit(@value,~'deg'));
	transform: rotate(unit(@value,~'deg'));
}

// Scale element to bigger or smaller
// If is set arg @a and @b is empty than @a will be use also as @b
// 1 = size 100%, 1.5 = size 150%
.Scale(@a, @b:@a) {
    -webkit-transform: scale(@a, @b);
    -moz-transform: scale(@a, @b);
    -ms-transform: scale(@a, @b);
    -o-transform: scale(@a, @b);
    transform: scale(@a, @b);
}

// Button efect - on hover slide different color
// @type: top,right, bottom,left - direction
// @background: new background color
// @color: new text color
// @time: animation duration
.SlineHover(@type, @background, @color, @time:.3s) {
    overflow: hidden;
    position: relative;
    z-index: 10;

    @media (min-width: 900px) {
        .Transition(@time);

        &:before {
            .Transition(@time);
            background: @background;
            content: '';
            position: absolute;
            z-index: -1;

            & when (@type = top) {
                height: 0;
                left: 0;
                top: 0;
                width: 100%;
            }

            & when (@type = bottom) {
                bottom: 0;
                height: 0;
                left: 0;
                width: 100%;
            }

            & when (@type = left) {
                height: 100%;
                left: 0;
                top: 0;
                width: 0;
            }

            & when (@type = right) {
                height: 100%;
                right: 0;
                top: 0;
                width: 0;
            }
        }

        &:hover {
            color: @color;
            text-decoration: none;

            &:before {
                & when (@type = top) { height: 100%; }

                & when (@type = bottom) { height: 100%; }

                & when (@type = left) { width: 100%; }

                & when (@type = right) { width: 100%; }
            }
        }
    }
}

// Cut overflowing text - replacing with ellipsis
.TruncateText() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Add transform
.Transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}

// Add transition animation
.Transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

// Set object translate
.Translate(@a, @b:0) {
    -webkit-transform: translate(@a, @b);
    -moz-transform: translate(@a, @b);
    -ms-transform: translate(@a, @b);
    -o-transform: translate(@a, @b);
    transform: translate(@a, @b);
}

// Set zero margin / padding
.Zero() {
    margin: 0;
    padding: 0;
}

// Set debug - highlight each elements
.Debug(@name:komponenta) {
    & when (@debug = true) {
        background-color: red !important;
        .BoxShadow(~'inset 0 0 1px 1px #00ff00 !important');
		//position: relative;
        
        &:before {
            background: #00ff00 !important;
            color: #000 !important;
            content: @name !important;
            font-size: 15px !important;
            font-weight: bold !important;
            letter-spacing: 0 !important;
            padding: 2px 6px !important;
            position: absolute !important;
            //left: 0  !important;
            //top: 0  !important;
        }
    }
}


// Responzive size according window width (proof-of-concept)
.calcSize(@property, @min, @max, @start: 300, @end: 1200, @unit: rem) {
	@multiplier: (@max - @min) / (@end - @start) * 100;
	@adder: (@min * @end - @max * @start) / (@end - @start);
	& when (@unit = px) {
		@formula:  (@multiplier * 1vw) ~'+'  (@adder * 1px);
		@{property}: @min * 1px;
		@media (min-width: (@start * 1px)) {
			@{property}: calc(@formula);
			@{property}: -webkit-calc(@formula);
		}

		@media (min-width: (@end * 1px)) {
			@{property}: @max * 1px;
		} 
	}
	& when (@unit = rem) {
		@formula:  (@multiplier * 1vw) ~'+'  (@adder * 0.1rem);
		@{property}: @min * 0.1rem;
		@media (min-width: (@start / 16em)) {
			@{property}: calc(@formula);
			@{property}: -webkit-calc(@formula);
		}

		@media (min-width: (@end / 16em)) {
			@{property}: @max * 0.1rem;
		} 	
	}
}
