/* `Theme base
----------------------------------------------------------------------------------------------------*/

// Warning: This class should use javascript. Do NOT remove it!!
.noScroll {
    overflow: hidden;
}

.clear {
    clear: both;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
    clear: both;
    content: '';
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}


* {
    .BorderBox();
	outline: none;	
}

/* `Theme & WordPress core classes
----------------------------------------------------------------------------------------------------*/

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-upprcs {
    text-transform: uppercase;
}

.txt-lwrcs {
    text-transform: lowercase;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
    
    &:focus {
        clip: auto !important;
        display: block;
        height: auto;
        left: 5px;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

/* `Container
----------------------------------------------------------------------------------------------------*/

.container {
    margin-left: auto;
    margin-right: auto;
	padding: 0 1.5rem;
    max-width: @maxWidthContent;
	min-width: @minWidthContent;
	width: 100%;
	
	@media(min-width: 700px) {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}