/* `Basic theme style
----------------------------------------------------------------------------------------------------*/

html,
body {
	height: 100%;
}

html {
    &:extend(.ff2);
	font-size: 62.5%;
    overflow-x: hidden;
	
	&.wf-active {
		&:extend(.ff1);	
	}
}

body {
	&:extend(.fs1);
    background: @c-bg-primary;
	color: @c-text-primary;
	line-height: 1.625;
	min-width: @minWidthContent;
}

::selection {
    background: @c-highlight;
    color: @c1;
}

::-moz-selection {
    background: @c-highlight;
    color: @c1;
}

::-webkit-selection {
    background: @c-highlight;
    color: @c1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: @c-text-secondary;
	line-height: 1.12;
    margin: 0 0 2rem;
    
	/*&:first-of-type {
		margin-top: 0;
	}
    
	&:last-of-type {
		margin-bottom: 0;
	}*/
}

h1, .h1 {
    &:extend(.fs4);
    font-weight: bold;
}

h2, .h2 {
    &:extend(.fs5);
    font-weight: bold;
}

h3, .h3 {
    &:extend(.fs6);
    font-weight: bold;
}

h4, .h4 {
     &:extend(.fs7);
    font-weight: bold;
}

p,
ul,
ol,
table {
	margin: 1em 0;
    
	&:first-of-type {
		margin-top: 0;
	}
    
	&:last-of-type {
		margin-bottom: 0;
	}
}

ul {
    list-style: square outside;
    padding-left: 4rem;
    
    &.none-style {
        list-style: none;
        padding-left: 0;
    }
}

ol {
    list-style: upper-roman outside;
    padding-left: 4rem;
    
    &.none-style {
        list-style: none;
        padding-left: 0;
    }
}

a {
	color: @c-highlight;
	.HoverUnderline();
}

/* `Classes
----------------------------------------------------------------------------------------------------*/

.relative {
	position: relative;
}

.body {
    
    &__wrap {
        .Flex();
        height: 100vh;
        position: relative;
    
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            flex-direction: column;
    }
}

.content {
    position: relative;
    
        -webkit-flex-basis: auto;
        -moz-flex-basis: auto;
        flex-basis: auto;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 0;
        -moz-flex-shrink: 0;
        flex-shrink: 0;
}

/* `Extend pure
----------------------------------------------------------------------------------------------------*/

.pure-g [class *= "pure-u"] {
    &:extend(.ff2);
    
    .wf-active & {
        &:extend(.ff1);
    }
    
    @media (min-width: 21.875em) {
        &.pure-hide-u-v350 {
            display: none;
        }
    }
    
    @media (min-width: 31.25em) {
        &.pure-hide-u-v500 {
            display: none;
        }
    }
    
    @media (min-width: 37.5em) {
        &.pure-hide-u-v600 {
            display: none;
        }
    }
    
    @media (min-width: 43.75em) {
        &.pure-hide-u-v700 {
            display: none;
        }
    }
    
    @media (min-width: 50em) {
        &.pure-hide-u-v800 {
            display: none;
        }
    }
    
    @media (min-width: 56.25em) {
        &.pure-hide-u-v900 {
            display: none;
        }
    }
    
    &[class *= "pure-show-u"] {
        display: none;
        
        @media (min-width: 21.875em) {
            &.pure-show-u-v350 {
                display: inline-block;
            }
        }
        
        @media (min-width: 31.25em) {
            &.pure-show-u-v500 {
                display: inline-block;
            }
        }
        
        @media (min-width: 37.5em) {
            &.pure-show-u-v600 {
                display: inline-block;
            }
        }
        
        @media (min-width: 43.75em) {
            &.pure-show-u-v700 {
                display: inline-block;
            }
        }
        
        @media (min-width: 50em) {
            &.pure-show-u-v800 {
                display: inline-block;
            }
        }
        
        @media (min-width: 56.25em) {
            &.pure-show-u-v900 {
                display: inline-block;
            }
        }
    }
}

/* `Lazyload
----------------------------------------------------------------------------------------------------*/

.fullBgLazy {
	background-position: center top;
    height: 100%;
    left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	
	&--cover {
		background-size: cover;
	}
    
    &--center {
        background-position: center center;
    }
    
    &--fixed {
        background-position: center center;
		background-attachment: fixed;
    }
}

.lazyloadFadeIn {
	.Transition(opacity .3s);
	opacity: 0;
    
	&.lazyloaded {
		opacity: 1;
	}
}

img.lazyload {
    opacity: 0;
}

img.lazyloaded {
    .Transition(opacity .4s);
    opacity: 1;
}
