/* `Theme fonts options
----------------------------------------------------------------------------------------------------*/

///////////////////////////////////////
/////////// Font family //////////////

.ff1 {
	font-family: 'Lato', sans-serif;
}

.ff2 {
	font-family: Arial, Helvetica, sans-serif;
}

///////////////////////////////////////
//////////// Font size ///////////////

.fs1 { // Body
	font-size: 1.6rem;
    line-height: 1.625;
}

.fs2 { // Perex / menu
	font-size: 1.8rem;
    line-height: 1.444;
}

.fs3 { // Small / copyright
	font-size: 1.2rem;
    line-height: 1.667;
}

.fs4 { // H1
    .calcSize(font-size, 24, 57);	
    line-height: 1.12;
}

.fs5 { // H2
    .calcSize(font-size, 22, 44);	
    line-height: 1.12;
}

.fs6 { // H3
    .calcSize(font-size, 20, 33);	
    line-height: 1.12;
}

.fs7 { // H4
    .calcSize(font-size, 18, 25);	
    line-height: 1.12;
}

.fs8 { // Buttons
	font-size: 1.3rem;
}