/* `'Theme variables
----------------------------------------------------------------------------------------------------*/

@breakpointHeader: 75em; // hlavní přeskládání hlavičky 
@breakpointFooter: 45.62em; // hlavní přeskládání patičky
@breakpointMobile: 25em;

@maxWidthContent: 93.75em; // maximální šířka kontejneru webu
@minWidthContent: 18.75em; // minimální šířka kontejneru webu

@openNavigation: ~'#menu-status:checked + .menu-is-open';
@openSearch: ~'#search-status:checked + .search-is-open';

@baseSpace: 4rem;

//Colors specific to current template
@c1: #fff;
@c2: #000;
@c3: #4c4c4c; // Body text color
@c4: #f4f4f4; // Secondary bg color
@c5: #b2b2b2; // Primary footer text color
@c6: #c90c0f; // Primary color
@c7: #d4d4d4; // Border color // Hero perex color
@c8: #fa4d5a; // Form error color
@c9: #8fc236; // Form success color

//Main colors in web
@c-bg-primary: @c1;
@c-bg-secondary: @c4;
@c-bg-footer: @c2;
@c-text-primary: @c3;
@c-text-footer: @c5;
@c-text-secondary: @c2;
@c-highlight: @c6;
@c-menu-link: @c2;
