/* `Vertical align
----------------------------------------------------------------------------------------------------*/

.vertical-align {	
	display: table;
	height: 100%;
    width: 100%;
    
    &__row {
        display: table-row;
        width: 100%;
    }
	
	&__cell {
		display: table-cell;
		vertical-align: middle;
        
        &--bottom {
            vertical-align: bottom;
        }
        
        &--top {
            vertical-align: top;
        }
	}
}